.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5vw solid;
    width: 96vw;
    overflow: hidden;
    font-size: 3vw;
    margin-bottom: 1vw;
    padding: 0 2vw;
}

.icons_container {
    display: flex;
}

.icon {
    height: 4vw;
    margin: 0 0.5vw;
}

.icon:hover {
    cursor: pointer;
}