.catalog {
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
}

.header {
    justify-content: space-between;
}

.header * {
    width: calc(92vw / 3);
}

.buy_active {
    margin: 1vw auto 0 auto;
}

.buy_inactive {
    margin: 1vw auto 0 auto;
    pointer-events: none;
    color: rgba(153, 255, 0, 0.5);
}