.CategoryCard{
    border: 0.5vw solid;
    padding: 0 2vw;
    width: calc(92vw / 3);
}

.CategoryCard:hover {
    cursor: pointer;
    color: black;
    background-color: var(--color);
    border-color: var(--color);
}