.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.25vw solid;
    width: 96vw;
    overflow: hidden;
    margin-bottom: 1vw;
    padding: 0 2vw;
}

.icons_container {
    display: flex;
}

.icon {
    margin: 0 0.5vw;
}

.icon:hover {
    cursor: pointer;
}

input {
    border: 0vw;
}